force-app/main/default/flows/RetornarJogo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Verificar se foi encontrado um candidato</description>
        <name>AcheiCandidato</name>
        <label>Achei Candidato</label>
        <locationX>496</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>NaoencontreiJogador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Achei</defaultConnectorLabel>
        <rules>
            <name>Achei</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarCandidato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscarJogador</targetReference>
            </connector>
            <label>Achei</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar se foi encontrado um jogador</description>
        <name>AcheJogador</name>
        <label>Achei Jogador</label>
        <locationX>342</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>NaoencontreiJogador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Achei</defaultConnectorLabel>
        <rules>
            <name>Achei_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarJogador</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InformarDesejaVoltar</targetReference>
            </connector>
            <label>Achei</label>
        </rules>
    </decisions>
    <description>Fluxo utilizado na comunidade para os jogadores votarem se desejam retornar ao round suspenso</description>
    <dynamicChoiceSets>
        <description>Busquei as opções do campo retornar ao jogo no objeto &apos;Jogador__c&apos;</description>
        <name>RetornarJogo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RetonarJogo__c</picklistField>
        <picklistObject>Jogador__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Retornar o Jogo {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Retornar o Jogo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Buscar o id do candidato do email</description>
        <name>BuscarCandidato</name>
        <label>Buscar Candidato</label>
        <locationX>496</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AcheiCandidato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidato__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Buscar Jogador com o email informado</description>
        <name>BuscarJogador</name>
        <label>Buscar Jogador</label>
        <locationX>342</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AcheJogador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscarCandidato.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eliminado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Jogador__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar</name>
        <label>Atualizar</label>
        <locationX>210</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Agradecimento_tela</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscarJogador.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RetonarJogo__c</field>
            <value>
                <elementReference>RetornarJogo_1</elementReference>
            </value>
        </inputAssignments>
        <object>Jogador__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Agradecimento_tela</name>
        <label>Agradecimento</label>
        <locationX>210</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Agradecimaneto</name>
            <fieldText>&lt;p&gt;Estamos computando os votos e em breve daremos o retorno no email cadastrado&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InformarDesejaVoltar</name>
        <label>Informar se Deseja Voltar</label>
        <locationX>210</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atualizar</targetReference>
        </connector>
        <fields>
            <name>RetornarJogo_1</name>
            <choiceReferences>RetornarJogo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Retornar ao Jogo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NaoencontreiJogador</name>
        <label>Não encontrei o Jogador</label>
        <locationX>496</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NaoEncontrei</name>
            <fieldText>&lt;p&gt;Não consegui encontrar um jogador com o email informado!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaEmail</name>
        <label>Tela de Email</label>
        <locationX>496</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BuscarCandidato</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Insira seu email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>370</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TelaEmail</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
